<div id="weightGraph" style="width: 100%; height: 400px;">
</div>
<script type="text/javascript">
$(function () {
    var d1 = {
        label: "Weight", 
        data: {{ weightPlots|json_encode|raw }},
        hoverable: true,
        clickable: true,
    };
    $.plot($("#weightGraph"), [ d1 ], {
        xaxis: {
            mode: "time",
        },
        legend: {
            show: false,
        }
    });
});
</script>


