{% extends "DTLTrainerBundle::layout.html.twig" %}
{% block page_title %}{% trans %}Weight{% endtrans %}{% endblock %}
{% block navigation2 %}            
    <li><a class="btn" href="{{ path('weight_index') }}">Index</a></li>
{% endblock %}
{% block page_content %}
{% endblock %}

