<form class="well" action="#" method="post" {{ form_enctype(form) }}>
    <table class="form">
        {{ form_row(form.date.date) }}
        {{ form_row(form.date.time) }}
        {{ form_rest(form) }}
    </table>
    <button type="submit" class="btn btn-success">{% trans %}Save{% endtrans %}</button>
</form>
